Article/*.aux
Article/*.bbl
Article/*.log
Article/*.blg
Article/*.synctex.gz
Article/*.out


**/IISWC24/*
!**/IISWC24/cops.tex
!**/IISWC24/cops.pdf

!**/IISWC24/figs
!**/IISWC24/flushend.sty
!**/IISWC24/IEEEtranS.bst
!**/IISWC24/iiswc24.cls
!**/IISWC24/nowidow.sty
!**/IISWC24/Makefile
!**/IISWC24/reference.bib

**/*/*.aux
**/*/*.bbl
**/*/*.log
**/*/*.blg
**/*/*.synctex.gz
**/*/*.out
**/*/*.fls
**/*/*.fdb_latexmk
